#uploadedDiv{
    background-color:grey;

}

body,html{
    margin:0;
    height:100%;
}

#menu {
    display: none;
    position: absolute;
    padding: 10px;
    background-color: #ddd;
    border: 1px solid #000;
}

#focus{
    background: rgb(135, 206, 250,0.18);
    border-color:white;
}

#uploadedDiv{
    display:none;
}

.folderName,.fileName{
    display: inline-block;
    vertical-align: middle;
}

form{
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left:3em;
    padding-right:3em;
}
form#deleteFolderForm{
    margin-top: 0px;
    margin-bottom: 0px;
    padding:0px;

}

.ui.input.fluid{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}